    /*  MAIL ICON  */
.container-mail {
    grid-column: 2 / 3;
    grid-row: 2 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31rem;
    height: 28rem;
  }
  @media only screen and (max-width: 790px) {
    .container-mail {
      grid-column: 1 / 2;
      grid-row: 6 / 7;
      height: 12rem;
      justify-self: center;
      margin-top: 4rem;
    }
  }
  .mail {
    position: relative;
    top: -4rem;
    left: -6rem;
  }
  @media only screen and (max-width: 790px) {
    .mail {
      left: -27%;
      top: -5rem;
    }
  }
  .mail__top {
    position: absolute;
    top: -5.7rem;
    width: 0;
    height: 0;
    border-right: 8rem solid transparent;
    border-left: 8rem solid transparent;
    border-bottom: 5.8rem solid #ffab17;
    z-index: 0;
  }
  .mail__top.closed {
    transition: transform 0.6s 0.8s, z-index 0.2s 0.4s;
    z-index: 2;
    transition-delay: 0.5s;
    transform-origin: bottom left;
    transform: rotate3d(1, 0, 0, 180deg);
  }
  .mail__back {
    position: absolute;
    background: #ffab17;
    width: 16rem;
    height: 10rem;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.3);
  }
  .mail__left {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8rem solid #ffc867;
    border-top: 5rem solid transparent;
    border-bottom: 5rem solid transparent;
  }
  .mail__right {
    position: absolute;
    left: 8rem;
    width: 0;
    height: 0;
    border-right: 8rem solid #ffc867;
    border-top: 5rem solid transparent;
    border-bottom: 5rem solid transparent;
  }
  .mail__bottom {
    position: absolute;
    top: 4.92rem;
    width: 0;
    height: 0;
    border-right: 8rem solid transparent;
    border-left: 8rem solid transparent;
    border-bottom: 5.08rem solid #ffbb43;
  }
  .mail__letter {
    position: absolute;
    top: -4rem;
    left: 2rem;
    width: 12rem;
    height: 9rem;
    background: #fff;
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: all 0.8s ease;
  }
  .mail__letter.move {
    transform: translateY(45px);
  }
  .mail__letter * {
    background: #e0e0e0;
  }
  .mail__letter-square {
    position: absolute;
    top: 3rem;
    left: 1rem;
    width: 3.8rem;
    height: 4rem;
  }
  .mail__letter-square::before {
    content: "";
    position: absolute;
    top: -2rem;
    width: 10rem;
    height: 1.5rem;
    background: inherit;
  }
  .mail__letter-lines {
    top: 4.9rem;
    left: 5.8rem;
  }
  .mail__letter-lines, .mail__letter-lines::before, .mail__letter-lines::after {
    content: "";
    position: absolute;
    width: 5rem;
    height: 0.3rem;
    background: #e0e0e0;
  }
  .mail__letter-lines::before {
    top: -1rem;
  }
  .mail__letter-lines::after {
    top: 1rem;
  }
  